<div class="home-page">
  <div class="test">
    <div class="c-r b b-l  grid-center">
      <span class="tw-text-xl tw-border-gray text-yellow">V-ChatApp</span>
    </div>
    <div class="c-r b sp-2 b-r grid-center">
      <app-chat-inbox></app-chat-inbox>
    </div>
    <div class="c-o b sr-2 b-bl grid-center"></div>
    <div class="c-o b sp-2 sr-2 b-br grid-center"></div>
  </div>
  <div class="green-circle"></div>
  <div class="blue-circle"></div>
  <div class="test-login-page">

  </div>
</div>


<router-outlet></router-outlet>
